<h2>Edit calendar</h2>

<div class="form">
  <form action="">
    <p><label for="name">Name</label></p>
    <p>{{input value=model.name type='text' id='name'}}</p>
        <p><label for="notes">Notes</label></p>
    <p>{{textarea value=model.notes type='text' id='notes'}}</p>
    <p>
      <button class='btn' {{action "save"}}>save</button>
      <button class='btn delete' {{action "delete"}}>delete</button>
      <button class='btn' {{action "cancel"}}>cancel</button>
    </p>
  </form>
</div>